<h1>Current Deploys</h1>

<div class="timeline" ng-controller="CurrentDeploysCtrl">
  <section class="timeline-content clearfix">
    <table class="timeline-content">
      <tr>
        <th>PROJECT</th>
        <th>USER</th>
        <th>DEPLOY</th>
        <th>LAST UPDATE</th>
        <th>STATUS</th>
        <th></th>
      </tr>
      <%= render partial: "timeline_entry", :locals => {angular_filter: "deploys"} %>
    </table>
  </section>
</div>